/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/
*.bundle
*.so
*.h
*.o
*.a
mkmf.log
.DS_Store

# rspec failure tracking
.rspec_status

/benchmark/images/*
!/benchmark/images/.keep
